.mainList {
    list-style: none;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading {
    text-decoration: none;
    color: var(--text);
    transition: all 0.3s ease;
}

.heading:hover {
    text-decoration: underline;
}

.active {
    color: var(--text-highlight);
    font-weight: 600;
}

.level2 {
    margin-left: 0;
}

.level3 {
    margin-left: calc(var(--margin) * 4);
}

.level4 {
    margin-left: calc(var(--margin) * 8);
}
