/*----------------------------------------Fonts-----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700");

@font-face {
    font-family: "Eras Bold ITC";
    src: url("/fonts/Eras Bold ITC Regular.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/*--------------------------------------Variables---------------------------------------*/
:root {
    --text: #eeeeee;
    --text-heading: #373737;
    --text-highlight: #ff4d07;
    --bg: black;
    --border: #dd4c13;
    --div-bg: #181818;
    /* --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5); */
    --shadow:
        rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --heading: "Eras Bold ITC", system-ui, "Segoe UI", Roboto, sans-serif;
    --mono: "Fira Mono", ui-monospace, Consolas, monospace;

    --margin: 5px;

    font-family: var(--mono);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

#root {
    width: 1024px;
    max-width: 100%;
    margin: 10vh auto 0;
    padding: var(--margin);
    text-align: left;
    border: 1px solid var(--div-bg);
    min-height: 100svh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2 {
    font-family: var(--heading);
    font-weight: 500;
    color: var(--text-heading);
}

h1 {
    font-size: 30px;
    letter-spacing: -1.68px;
    margin: 40px 0;
    @media (max-width: 1024px) {
        font-size: 24px;
        margin: 20px 0;
    }
}
h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
    @media (max-width: 1024px) {
        font-size: 20px;
    }
}
p {
    margin: 0;
    line-height: 26px;
}
